@mixin botonesEstilo ($colorFondo, $colorTexto , $grosorBoton){
    font-weight: $grosorBoton;
    color:$colorTexto;
    background-color: $colorFondo;
    font-family: $font_principal; 
    padding: 7px 12px;

    
}


.btn-yo{
    @include botonesEstilo(#eeb54c,black ,bolder );
}

.btn-card{
    @include botonesEstilo (#eeb54c,black ,bold);
}

