 /* INICIO ESTILO MAIN DE INDEX.HTML*/
  
 #main {
    width: 100%;
    min-height: 100vh;
    background-color: $background_principal;
    
  }
  
  .col {
    padding-top: 5em;
    padding-left: 3em;
  } 
  
  .btn-card{
    color: black;
    background-color: rgb(238, 181, 76);
    font-weight: bold;
    font-family: $font_principal;
    
  }
  
  /* FIN ESTILO MAIN DE INDEX.HTML*/

  /* main de contacto, mascotas.html , paisajes.html y bodas.html */
  
  #mainContacto {
    width: 100%;
    min-height: 100vh;
    background-color: $background_principal;
  }

  #mainMascotas {
    @extend #mainContacto;
  }

  #mainPaisajes {
    @extend #mainContacto;
  }

  #mainBodas {
    @extend #mainContacto;
  }

  /* carousel en los mains de mascotas.html , paisajes.html y bodas.html */

  .carousel{
    width: 85%;
    margin: 0 auto;
  }

#descripcionC{
  font-weight: bolder;
  font-family: $font_principal;
  font-size: 20px;
  height: 5vh;

  
}

/* banner pie de pagina index */
.bannerPie{
  min-width: 100vw;
  height: auto;
  text-align: center;
  margin-top: 30px;
  background-color: black;
}




/*media queries main paisajes.html , bodas.html , mascotas.html */

@media screen and (max-width: 576px) {
  .carouselCarousel {
    width: 90% !important;
  }
  #descripcionC{
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .carouselCarousel {
    width: 90% !important;

  }
  #descripcionC{
    font-size: 12px;
}
  #footer{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .carouselCarousel {
    width: 80% !important;

  }
  .bannerPie{
    display: none;
  }
  #descripcionC{
    font-size: 14px;
}

}

@media screen and (max-width: 400px) {
  #descripcionC{
    font-size: 10px;
  }
}


