

.navg a {
    color: rgb(255, 255, 255) !important;
    font-family: $font_principal;
    font-size: 23px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
  
  
   a:hover {
    background-color: rgb(238, 181, 76);
    
  }

}