

.btn-yo {
    padding: 7px 12px;
    color: black;
    background-color: #eeb54c;
    font-weight: bolder;
    font-family: $font_principal; }

    
    .btn-card {
        color: black;
        background-color: #eeb54c;
        font-weight: bold;
        font-family: $font_principal; }

